.exlog_test_results_container {
  z-index: 99999999999;
  position: fixed;
  $distance_from_edge: 0;
  top: $distance_from_edge; bottom: $distance_from_edge; left: $distance_from_edge; right: $distance_from_edge;
  background-color: rgba(0,0,0,0.8);
  color: red;
  .exlog_test_results_inner_container {
    position: fixed;

    $distance_from_edge: 10%;
    top: $distance_from_edge;
    bottom: $distance_from_edge;
    left: $distance_from_edge;
    right: $distance_from_edge;
    background-color: white;

    table {
      width: 100%;
    }
  }
  
  .exlog_close_button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    span {
      pointer-events: none;
    }
  }
}